@import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap");

:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #121212;
  --black-soft: #222222;
  --black-mute: #282828;

  --color-background: var(--black);
  --color-background-soft: var(--black-soft);
  --color-background-mute: var(--black-mute);

  --color-border: var(--black-mute);

  --color-heading: var(--white-soft);
  --color-text: var(--white-mute);

  --section-gap: 160px;

  --ff-logo: "Birthstone", cursive;
  --ff-heading: "Playfair Display", serif;
  --ff-body: "Lato", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: var(--ff-body);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
